/* calendrier */

@font-face {
    font-family: 'Margarine';
    src: url('Margarine-Regular.ttf') format('truetype');
}

body{
    font-family: 'Margarine';
    overflow-x: hidden;
}

     /* Style pour le conteneur du calendrier */
     .fc {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
      }
      
      /* Style pour la barre d'outils du calendrier */
      .fc-header-toolbar {
        background-color: #0c4681;
        padding: 10px;
      }
      
      /* Style pour le titre du calendrier */
      #calendar .fc-header-title {
        font-size: 30px;
        font-weight: bold !important;
        color: #ffffff !important;;
        margin: 0;
      }
      
      /* Style pour le titre du mois */
      .fc-toolbar-title {
        font-size: 30px;
        font-weight: bold;
        color: #ffffff;
        margin: 0;
      }
      
      /* Style pour les boutons de navigation */
      /* Style pour les boutons de navigation avec !important */
      #calendar .fc-prev-button,
      #calendar .fc-next-button,
      #calendar .fc-today-button {
        background-color: #007bff !important;
        color: #a00606 !important;
        border: none !important;
        border-radius: 3px !important;
        padding: 5px 10px !important;
        cursor: pointer !important;
      }
      
      /* Style pour les en-têtes de jour de la semaine */
      #calendar .fc-day-header {
        background-color: #235c09 !important;
        color: #fa0f0f !important;;
      }
      
      /* Style pour les cellules de jour du calendrier */
      .fc-day {
        border: 1px solid #9c0d0d;
        background-color: rgb(252, 255, 255);
      }
      
      /* Style pour les événements du calendrier */
      .fc-event {
        background-color: #007bff;
        color: #ad0808;
        padding: 5px;
        border-radius: 3px;
        cursor: pointer;
      }
      
      /* Style pour le titre de l'événement */
      .fc-event-title {
        font-weight: bold;
      }