@media screen and (max-width: 768px) {
    p {
      font-size: 14px; /* Taille de police pour les écrans plus petits */
      line-height: 1.3; /* Hauteur de ligne pour les écrans plus petits */
    }
  }

@font-face {
 font-family: 'Margarine';
 src: url('Margarine-Regular.ttf') format('truetype');
}

body{
    font-family: 'Margarine';
    overflow-x: hidden;
   
}


#Apropos h3,#Aide h3{
    font-size: 2rem;
    color: #ffffff;
}

#Apropos span,#Aide span{
    font-size: 2.3rem;
    color: #00b2ff;
}

#help h3{
    color:#021c44;
    font-size: 2.8rem;
}

#help span{
    color: #00b2ff;
    font-size: 3.2rem;
}

#help h2{
    font-size: 3rem;
    color: #021c44;
    margin-top: 0.3rem;
}

#help li{
    list-style: square;
    font-size: 1.4rem;
    color: #021c44;
}

#help p{
    font-size: 1.4rem;
    color: #021c44; 
}

